################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RandomFight/Debug
/RandomFight/RandomFight/Debug
