################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RandomFight/Debug
/RandomFight/RandomFight/Debug
/RandomFight/x64/Debug
/RandomFight/.vs/RandomFight/v15
/RandomFight/RandomFight/x64/Debug
/RandomFight/RandomFight/x64/Release
/RandomFight/x64/Release
